<launch>

 # The planning and execution components of MoveIt! configured to 
 # publish the current configuration of the robot (simulated or real)
 # and the current state of the world as seen by the planner
  
 <arg name="enable_octomap" default="false"/>
 <include file="$(find elfin5_moveit_config)/launch/move_group.launch">
  <arg name="publish_monitored_planning_scene" value="true" />
  <arg name="enable_octomap" value="$(arg enable_octomap)" />
 </include>
 # The visualization component of MoveIt!
 <arg name="display" default="false"/>
 <arg name="rviz_config" default="$(find elfin5_moveit_config)/launch/moveit_low_load.rviz"/>
 <arg name="rviz_egl" default="false"/>
 <include file="$(find elfin5_moveit_config)/launch/moveit_rviz.launch" if="$(arg display)">
   <arg name="config" value="true"/>
   <arg name="config_file" value="$(arg rviz_config)"/>
   <arg name="use_egl" value="$(arg rviz_egl)"/>
 </include>
 
</launch>
